<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../dist/output.css" />
    </head>
    <body>
        <div
            class="mx-auto max-w-7xl border border-amber-500 bg-gray-950 p-2 text-white"
        >
            <div class="">
                <h2
                    class="text-effect mb-4 text-center font-serif text-4xl font-bold"
                >
                    ABOUT ME
                </h2>
                <section class="text-lg md:text-xl">
                    <p class="mb-5">
                        I'm a passionate web developer with a BSc in Computer
                        Science & Engineering, currently diving deep into
                        font-end development with React. I love building clean,
                        scalable applications and constantly push myself to
                        understand the inner workings of the technologies I use.
                        I dream of becoming a full-stack developer and build
                        modern solutions.
                    </p>
                    <h3 class="font-serif text-2xl">🎓 Education :</h3>
                    <p class="mb-5">
                        <strong>BSc in Computer Science & Engineering</strong
                        ><br />
                        [Dhaka International University] – Graduated June 2024
                    </p>
                    <h3 class="font-serif text-2xl">🎯 Career Goal :</h3>
                    <p class="mb-3">
                        To join a forward-thinking team where I can solve
                        real-world problems, grow alongside experienced
                        developers, and help ship high-impact applications that
                        make a difference.
                    </p>
                </section>
            </div>
        </div>
    </body>
</html>
