<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./output.css" />
    </head>
    <body>
        <div
            class="mx-auto max-w-7xl bg-gray-950 text-white xl:flex xl:h-[60vh]"
        >
            <div
                class="flex w-full items-center justify-center p-4 xl:order-1"
            >
                <img
                    src="../assets/hero.jpg"
                    alt="#"
                    class="xl:max-w-auto h-full max-h-80 w-auto rounded-full xl:max-h-100"
                />
            </div>
            <div
                class="flex flex-col items-start justify-start p-2 pr-3 md:text-xl xl:max-w-3.5/5 xl:justify-center"
            >
                <p class="text-theme text-5xl md:text-7xl xl:text-9xl">
                    Ashikul Islam
                </p>
                <p class="mb-2 text-gray-500 lg:mb-4">
                    Web Developer | React and Python Enthusiast
                </p>
                <p class="mb-4 text-justify lg:mb-7">
                    <span class="text-effect text-2xl lg:text-4xl">Hi,</span>
                    I'm a programming enthusiast passionate about turning ideas
                    into real-world web applications. Over the past 2 years,
                    I've been actively learning and building projects in web
                    development — sharpening my skills through consistent
                    practice and self-driven development. <br />
                    I'm now looking for opportunities to contribute to impactful
                    projects, collaborate with real teams, and grow into a
                    high-value developer in the tech industry.
                </p>
                <a
                    href="#"
                    class="bg-effect mb-3 rounded-full px-3 pt-0.5 pb-1.5 text-[1rem] font-semibold"
                    >Download CV</a
                >
            </div>
        </div>
    </body>
</html>
