<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../dist/output.css" />
    </head>
    <body>
        <div class="max-w-7xl border border-amber-500 bg-gray-950 p-4">
            <h1
                class="text-effect mb-4 text-center font-serif text-4xl font-bold"
            >
                SKILLS
            </h1>
            <section class="flex w-full flex-wrap justify-center gap-6 md:max-w-5xl">
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img src="../assets/skills/html-5.svg" alt="Html" />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img src="../assets/skills/vite.svg" alt="Vite" />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img src="../assets/skills/css.svg" alt="CSS" />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img
                        src="../assets/skills/javascript.svg"
                        alt="javascript"
                    />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img src="../assets/skills/react.svg" alt="react" />``
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img src="../assets/skills/bootstrap.svg" alt="bootstrap" />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img
                        src="../assets/skills/tailwindcss.svg"
                        alt="tailwindcss"
                    />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img src="../assets/skills/git.svg" alt="git" />
                </div>
                <div class="shadow-card h-[100px] w-[100px] rounded-2xl p-2">
                    <img
                        src="../assets/skills/github-light.svg"
                        alt="github"
                        class="block dark:hidden"
                    />
                    <img
                        src="../assets/skills/github-dark.svg"
                        alt="github"
                        class="hidden dark:block"
                    />
                </div>
            </section>
        </div>
    </body>
</html>
